.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 371px;
    padding: 14px 0px;
    background-color: #00B207;
    border-radius: 43px;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px;
    cursor: pointer;
}