.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 35px;
}

.text {
    color: #1A1A1A;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px
}

.arrows {
    display: flex;
    align-items: center;
    gap: 12px;
}