.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-bottom: 60px;
}

.head {
    color: #1A1A1A;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}