.container {
    display: flex;
    align-items: center;
}

.searchbar{
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-right: none;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    padding-left: 24px;
    width: 492px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchbarinput--footer {
    height: 24px;
    border: none;
    width: 400px;
    background-color: #F7F7F7;
}

.searchbarinput {
    height: 24px;
    border: none;
    width: 400px;
    background-color: #fff;
}

.submitinput {
    border: 1px solid #00b207;
    padding: 16px 24px;
    border-radius: 43px;
    background-color: #00B207;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    height: 51px;
    position: absolute;
    right: -20px;
}

.wrapper {
    display: flex;
    gap: 140px;
}