.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.head {
    display: flex;
    width: 100%;
    justify-content: center;

}

.wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header {
    color: #1A1A1A;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px
}