.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    max-width: 1320px;
    width: 100%;
}

.text {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px;
}