.container {
    display: flex;
    gap: 16px;
    width: 306px;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.2px;
}

.subtext {
    color: #999;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}